*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "FreeSerif";
}

html, body{
    height: 100%;
    width: 100%;

}
#main{
    background-color: #000;
}
#loader{
    height: 100vh;
    width: 100%;
    background-color: black;
    position: fixed;
    color: #fff;
    display: flex;
    z-index: 99;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* display: none; */
    
}
#loader h1{
    font-size: 6vw;
    line-height: 4.5vw;
    font-weight: 100;
    position: relative;
    z-index: 9;
}

#loader video{
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 6;

}
#yellow1{
    height: 100%;
    width: 100%;
    background-color: #F5E41B;
    position: absolute;
    z-index: 8;
}
#yellow2{
    height: 100%;
    width: 100%;
    background-color: #F5E41B;
    position: absolute;
    z-index: 7;
}

#nav{
    position: absolute;
    width: 100%;
    /* background-color: red; */
    padding: 20px 40px;
    z-index: 10;
    display: flex;
    justify-content: space-between;
}
#nav svg{
    cursor: pointer;
}
#nav svg path{
    fill: #000;
}
#nav ul{
    list-style: none;
    display: flex;
    gap: 30px;
    text-transform: uppercase;
}
#nav ul li{
    cursor: pointer;
}
.cross i {
  display: inline-block;
}



#page1{
    height: 100vh;
    width: 100%;
    background-color: #F5E41B;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;


}

#page1 h1{
    font-size: 6vw;
    line-height: 4.5vw;
    font-weight: 100;
}


#page2{
    width: 100%;
    height: 100vh;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-position: center;
    background-size: cover;
    
}
.elem{
    width: 100%;
    position: relative;
    
}
.elem .blur{
    position: absolute;
    width: 40%;
    height: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    background: linear-gradient(to right, #f5e31bf6, #F5E41B, #f5e31bf6);
    box-shadow: 10px 0px 20px 20px #F5E41B, -10px 0px 10px 100px #F5E41B;
    height: 100%;
    z-index: 8;

}
.elem h2{
    font-size: 6.8vw;
    text-transform: uppercase;
    font-weight: 100;
    position: relative;
    z-index: 9;
    line-height: 5vw;
    cursor: pointer;
}
.elem .moving{
    background-color: #F5E41B;
    width: 100%;
    white-space: nowrap;
    padding: 8px 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -45%) scaleY(0);
    
    transition: all ease 0.3s;
    overflow: hidden;
    

}

.elem .moving .moving-in{
   
    white-space: nowrap;
    display: inline-block;
    animation: 5s linear infinite moving;
}

.elem .moving .moving-in h5{
    color: #000;
    display: inline-block;
    font-family: "Fira Code";
    font-size: 19px;
    font-weight: 500;
    text-transform: uppercase;
    margin-right: 35px;
    transition: all ease 0.3s;
    opacity: 0;
    transition-delay: 0.2s;

}


@keyframes moving {
    from{
        transform: translateX(0);
    }

    to{
        transform: translateX(-100%);
    }
    
}





.elem:hover .moving{
    transform: translate(0, -45%) scaleY(1);

}
.elem:hover .moving h5{
    opacity: 1;
}
.elem h2:hover{
    font-style: italic;
}










#page3{
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
}
.image-container{
    padding: 30px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;


}
.image-div{

    width: 30vw;
    
    position: relative;
    overflow: hidden;
    margin: 20px 10px;
}

.image-div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: all ease 0.5s;

}
.overlay{
    height: 100%;
    width: 100%;
    background-color: #0000001c;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    transition: all ease 0.5s;
    z-index: 9;
    
}

.overlay p{
    font-size: 2vw;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    line-height: 2.5vw;
    opacity: 0;
    transform: translateY(187%);
    transition: all ease 0.5s;
}   

.image-div:hover .overlay{
    background-color: #000;
}

.image-div:hover .overlay p{
    opacity: 1;
    transform: translateY(0);
}
.image-div:hover img{
    scale: 1.1;
}

.footer{
    height: 30vh;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

.footer #foot{
    height: 50%;
    width: 100%;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 24px;
}
#foot ul {
    list-style: none;
    display: flex;
    gap: 23px;
}
.footer .backtoTop h2{
    font-family: "Fira Code";
    text-transform: uppercase;
    font-size: 1vw;
    cursor: pointer;
}
.backtoTop{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    cursor: pointer;
    
}
.backtoTop span{
    font-weight: 200;
    font-size: 34px;
    line-height: .4;
}

.backtoTop span, h2{
    opacity: 0.5;
}